<HTMLQuestion xmlns='http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd'>
  <HTMLContent><![CDATA[
    <!DOCTYPE html>
    <html>
    <head>
      <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
      <!--  maybe it's better to serve autocomplete plugin by CDN but it's not necessary-->
      <style type="text/css"><%= tagify_css %></style>
      <script language='javascript'><%= tagify_js %></script>
      <script language='javascript'><%= tagify_js_polyfill %></script>
      <script language='javascript'><%= external_hit_js %></script>

      <script language='javascript'>
        function getPhotoTags(value) {
          if (!value) return []

          return value.reduce(function (acc, tag) {
            if (PERMITTED_CHARS_REGEXP.test(tag.value)) acc.push(tag.value)
            return acc
          }, [])
        }

        function validateResult() {
          var results = photos.map(function (photo) {
            var tags = getPhotoTags(photo.tagify.value)

            return {
              photo_id: photo.id,
              tags,
            }
          })

          var invalidResult = results.some(function (item) {
            if (item.tags.length < MIN_TAGS_AMOUNT) {
              return true
            }
          })

          if (invalidResult) {
            alert('Please fill minimal amount of tags for each photo')
            results = null
          }

          return results
        }

        function submit(result) {
          var resultJson = JSON.stringify({result})

          var form = document.getElementById('mturk_form')
          var resultElement = document.createElement('input')
          resultElement.setAttribute('value', resultJson)
          resultElement.setAttribute('type', 'text')
          resultElement.setAttribute('visibility', 'hidden')
          resultElement.setAttribute('display', 'none')
          resultElement.setAttribute('name', 'result')
          form.appendChild(resultElement)

          form.submit()
        }

        function validateAndSubmit(e) {
          e.preventDefault()

          var result = validateResult()
          if (!result) return false

          submit(result)
        }
      </script>
    </head>
    <body>
    <form name='mturk_form' method='post' id='mturk_form'
          onsubmit='validateAndSubmit(event);'
          action='https://www.mturk.com/mturk/externalSubmit'>
      <input type='hidden' value='' name='assignmentId' id='assignmentId'/>

      <% photos.each do |photo| %>
        <div>
          <input autocomplete=off
                 placeholder="write some tags for image below (double click to edit)"
                 name='<%= "input-#{photo[:id]}" %>'>
          <img src='<%= photo[:url] %>'>
        </div>
      <% end %>

      <input type='submit' id='submitButton' value='Submit'/>
    </form>

    <script language='javascript'>turkSetAssignmentID()</script>
    <script language='javascript'>
      var photos = <%= photos.to_json %>;
      var tags = <%= tags.to_json %>;
      var MIN_TAGS_AMOUNT = <%= min_tags_amount %>;
      var PERMITTED_CHARS_REGEXP = /^[a-z ]*$/

      photos = photos.map(function (photo) {
        var input = document.getElementsByName(`input-${ photo.id }`)[0]

        photo.tagify = new Tagify(input, {
          whitelist: tags,
          pattern: PERMITTED_CHARS_REGEXP,
          dropdown: {
            enabled: 3,
            maxItems: 10,
          },
        })

        return photo
      })
    </script>
    </body>
    </html>
    ]]>
  </HTMLContent>
  <FrameHeight>0</FrameHeight>
</HTMLQuestion>